<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.flinkmonitorbackend.mapper.AccessRecordMapper">
    <select id="findAll" resultType="AccessRecord">
        SELECT * FROM access_records ORDER BY access_time DESC
    </select>
    
    <select id="findByEmployeeId" resultType="AccessRecord" parameterType="String">
        SELECT * FROM access_records WHERE employee_id = #{employeeId} ORDER BY access_time DESC
    </select>
</mapper>